<!doctype html>
<html>
  <head>
    <meta content="IE=edge;chrome=1" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <title>E-Rive</title>

    <script src="https://use.fontawesome.com/4148695d6d.js"></script>
    <%= stylesheet_link_tag 'index.bundle' %>
  </head>

  <body id="application">
    <%= partial './partials/header' %>
    <%= partial './partials/mobile_header' %>
    <%= yield %>
    <%= partial './partials/footer' %>
  </body>
  
  <%= javascript_include_tag 'index.bundle' %>
</html>
